:root{
  --teal: #f2f2f2;
  --blue: #c8d8e4;
  --brightWhite: #ffffff;
  --darkGrey: #2b6777;
  --aquaMarine: #52ab98;
}


body{
  background-color: var(--darkGrey);
  color: var(--brightWhite);
  font-family: 'Montserrat', sans-serif;
}